.component-layout {

  width: 50ch;
  height: 15ch;
  align-items: center;
  padding: 10ch;
  background-color: aquamarine;
  /*border*/
  border-style: solid;
  border-width: 10px;
  border-color: blue;
  /**/
  margin-top: 20px;

}
